<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div style="width: 100%; text-align: center">
    <div class="header mb-3 d-flex">
    	<h1 class="mx-auto">Smart Online Investements</h1>
  	</div>
    <hr>

<div style="width: 100%; text-align: center">
    <h2>Market Data</h2>
    <h4><%= boc_api %></h4>
    
    <br>
    <br>

    <button type="button" class="btn btn-primary col-3 mx-auto" onclick="location.href = '/'">Go back</button>
</div>
</div>